.aimg{
    align-items: center;
}
.bdiv{
    background-color: transparent;
    height: 594px;
    margin-top: -0px;
    position: fixed;
}
.ah1{
    font-size: 50px;
   
    margin-right: 100px;
}
.apara{
    text-align:justify;
    font-size: 20px;
}

