.bck{
    
   
    font-size: 30px;
    
    font-size: 18px;
    height: ;
}
.bnav{
    font-size: 18px;
    padding: 20px;
    font-style: oblique;
    margin-left: 30px;

}
.lav{
    margin-right: 800px;
}
.layot{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    padding: 0px 0px;
    height:0vh;
    position: ;
    width: 103.3%;
    margin-left: -50px;
    background-color: rgba(0, 0, 0, 0.555);
}
.list{
    float: right;
    height: 0px;
    margin-left: 10px;
    

}
.ab{
    margin-left: -10px;
    margin-top: -70px;
}
.ab2{
    
    padding: 0px 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-style: oblique;
    margin-left: 30px;
    font:bolder;
}
li a:hover{
    background-color: #66f3e9a1;
}
