.bimg{
    margin-top: 20px;
    width: 60vh;
    height:87vh;
    


   
    
   
}
.bimg2{
   
    
    background-image: url("../Sign up/Image/solving-with-calculator-fkdkyjoorny5agqp.jpg");
   
    background-size: cover;
   
    background-color: rgba(0, 0, 0, 0.671);
}